@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald.eot');
	src: local('☺'), url('../fonts/Oswald.woff') format('woff'), url('../fonts/Oswald.ttf') format('truetype'), url('../fonts/Oswald.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'QuattrocentoSans-Regular';
	src: url('../fonts/QuattrocentoSans-Regular.eot');
	src: local('☺'), url('../fonts/QuattrocentoSans-Regular.woff') format('woff'), url('../fonts/QuattrocentoSans-Regular.ttf') format('truetype'), url('../fonts/QuattrocentoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p, a, span, h1, h2, h3, h4, h5, h6 {
    color: #241b18;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
}
p {
    line-height: 1.5;
    font-family: "QuattrocentoSans-Regular";
    font-size: 14px;
}
body {
    font-family: "QuattrocentoSans-Regular";
    background: url(images/bg-body.png);
    background-size: contain;
}
.body {
    font-size: 0;
}
.body h1, .body h2, .body h3, .body h4, .body h5, .body h6, a, span, p {
    font-size: initial;
}
#header {
	background-color: #241b18;
    border-bottom: 2px solid white;
}
#header > div {
    padding: 2rem 0;
    width: 942px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#header > div > ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#header > div > ul li {
    padding: 0.5rem 0;
}
#header > div > ul li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
#header > div > ul li:first-of-type a {
    color: goldenrod;
}
#header > div > ul li a:hover {
    color: goldenrod;
}
#contents {
    width: 942px;
    margin: auto;
}
#adbox {
    background: url(images/bg-pattern.jpg);
    position: relative;
    display: flex;
    border: 1px solid white;
}
#adbox > span {
    position: absolute;
    top: 55%;
    left: 37%;
    color: #000;
    text-align: center;
}
#adbox > span > em, #adbox > span > a {
    display: block;
}
#adbox > span > em {
    font-size: 26px;
    font-style: normal
}
#adbox > span > a {
    padding: 11px 17px;
    background: url(images/buttons.png) no-repeat 1px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}   
#adbox > span > a:hover {
    background-position: 101% 0;
}
#adbox .details {
    padding: 1rem 2rem;
}
#adbox .details h1 {
    color: #241b18;
    text-align: center;
    font-size: 35px;
    margin-bottom: 1.5rem;
}
#adbox .detail p {
    text-align: justify;
    font-size: 16px;
}
#featured {
    display: flex;
    border-right: 1px solid white;	
}
#featured li {
    background: url(images/separator-light.png) repeat-x 0 54%;
    background-color: #4b3a33;
}
#featured li > div:first-of-type {
    position: relative;
}
#featured li > div:first-of-type a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#featured li:nth-of-type(2) {
	background-color: #241b18;
}
#featured li h4 {
    color: goldenrod;
    padding: 1rem 0 0 1rem;
}
#featured li p {
    color: white;
    font-size: 14px;
    padding: 1rem;
}
#featured li p a {
    color: white;
}
#featured li > div:first-of-type:hover a {
    background-color: white;
    opacity: 0.1;
}
.contact {
    padding: 1.75rem;
    vertical-align: top;
    display: inline-block;
    width: 33.35%;
    background: url(images/separator-dark-vertical.png) repeat-y 100% 0;
    background-color: white;
    border-bottom: 4px solid lightgrey;
}
.contact p {
    color: grey;
    font-size: 18px;
    font-family: "Oswald";
}
.contact p b {
    display: block;
    color: #000;
    padding: 0.5rem 0;
    font-family: "Oswald";
    font-weight: bold;
}
.blog {
    vertical-align: top;
    display: inline-block;
    width: 66.65%;  
    background-color: white;
    padding-bottom: 1rem; 
    border-bottom: 4px solid lightgrey;
}
.blog h4 {
    padding: 1rem 0;
    margin-left: 2.5rem;
    color: grey;
}
.blog > div {
    display: inline-block;
    height: 152px;
    width: 40%;
    margin-left: 2.5rem;
    background-color: lightgrey;
    padding-left: 1rem;
}
.blog > div span {
    margin-top: 1rem;
}
.blog > div p {
    margin-top: 0.5rem;
}
.blog > div > img {
    float: right;
}
.blog > div a {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Oswald";
    margin-top: 3rem;
}
.blog > div a:hover {
    color: goldenrod;
}
.blog > div span {
    display: block;
    font-size: 12px;
    color: grey;
}
#footer {
	background-color: #e2b241;
    padding: 2rem 0 1rem 0;
}
#footer > div {
    width: 942px;
    margin: auto;
}
#links {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background: url(images/separator-dark.png) repeat-x 0 100%;
}
#links > div {
    width: 33.33%;
}
#links p, #links a {
    color: #202020;
    font-size: 12px;
}
#links .showroom > p a {
    text-decoration: underline;
}
#links .showroom > p a:hover {
    color: #4b3a33;
}
#links h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1rem;
}
.posts li {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}
.posts li span.time {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(images/bg-time.png);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0 0.25rem;
}
.posts li > p {
    width: 70%;
}
.posts li > p > a {
    display: block;
    font-weight: bold;
    font-family: "Oswald";
}
#links  > div:nth-of-type(1), #links > div:nth-of-type(2) {
    background: url(images/separator-dark-vertical.png) repeat-y 100% 0;
}
#links > div:nth-of-type(3) {
    padding-left: 1rem;
}
#links > div:nth-of-type(3) form input:first-of-type {
    width: 80%;
    padding: 0.25rem 0;
}
#links > div:nth-of-type(3) form input:last-of-type {
    margin: 1rem 0;
    display: block;
    width: 87px;
    height: 28px;
    background: url(images/buttons.png) no-repeat -12px 100%;
    color: white;
    cursor: pointer;
    font-family: "Oswald";
}
#links > div:nth-of-type(3) form input:last-of-type:hover {
    background-position: 91.5% 100%;
}
#connect {
    background: url(images/separator-dark.png) repeat-x 0 0;
    padding-top: 1rem;
}
#connect > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}
#connect > a:nth-of-type(1) {
    background: url(images/icons.png) no-repeat 90% 58%;
}
#connect > a:nth-of-type(1):hover {
    background-position: 3px 58%;
}
#connect > a:nth-of-type(2) {
    background: url(images/icons.png) no-repeat 90% 80%;
}
#connect > a:nth-of-type(2):hover {
    background-position: 3px 80%;
}
#connect > a:nth-of-type(3) {
    width: 45px;
    background: url(images/icons.png) no-repeat 100% 100%;
}
#connect > a:nth-of-type(3):hover {
    background-position: 3px 100%;
}
#footer .navigation {
    float: right;
    display: flex;
}
#footer .navigation li {
    padding: 15px;
}
#footer .navigation li a { 
    color: rgb(157, 121, 28);
    font-weight: bold;
    font-family: "Oswald";
}
#footer .navigation li a:hover { 
    color: #241b18;
}
#footnote {
    display: inline-block;
    padding: 15px 0;
    margin-bottom: 1rem;
    color: rgb(131, 96, 9);
}