* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
#header {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header #logo {
    width: 355px;
    height: 130px;
}
#header #logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/logo.jpg);
    background-position: 0 -10px;
}
#header ul {
    display: flex;
}
#header ul li a {
    display: inline-block;
    margin-right: 4px;
    width: 125px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/menu.gif) repeat-x;
    background-size: 100% 300%;
    background-position: 7px 0;
    text-transform: uppercase;
    color: #2b505f;
}
#header ul li:first-of-type a {
    background: url(../images/menu.gif) repeat-x;
    background-size: 100% 300%;
    background-position: 7px -70px;
    color: white;
}
#body {
    padding-bottom: 2rem;
}
#body .header {
    height: 454px;
    background: url(../images/bg-body.gif);
    background-size: 100% 100%;
}
#body .header > div {
    width: 60%;
    height: 100%;
    margin: auto;
    background: url(../images/smiling-man.jpg) no-repeat;
    background-position: right -18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #2A4F5E;
}
#body .header > div ul {
    display: flex;
    column-gap: 2rem;
    margin-top: 31px;
}
#body .header > div ul li {
    width: 190px;
    height: 190px;
}
#body .header > div ul li:nth-of-type(1) {
    background: url(../images/discuss.jpg);
}
#body .header > div ul li:nth-of-type(2) {
    background: url(../images/flags.jpg);
}
#body .header > div ul li:nth-of-type(3) {
    background: url(../images/graph.jpg);
}
#body .header > div > div {
    width: 50%;
}
#body .header > div > div h3 {
    margin: 1.5rem 0 1rem 0;
}
#body .header > div > div a {
    color: #3892b6;
}
#body .header > div > div p {
    line-height: 1.5;
    text-indent: 1rem;
}
#body .body {
    border: 1px solid #E0E0E0;
    width: 60%;
    height: 231px;
    margin: 2rem auto 1.5rem auto;
    display: flex;
}
#body .body .section {
    width: 22.5%;
    background: url(../images/bg-section.gif);
    display: flex;
    justify-content: center;
    align-items: center;
}
#body .body .section a {
    background: url(../images/gears.jpg) no-repeat;
    display: flex;
    text-transform: uppercase;
    color: #2A4F5E;
    font-weight: bold;
}
#body .body .section:first-of-type a {
    width: 145px;
    height: 145px;
    align-items: flex-end;
    justify-content: center;
    padding-top: 30px;
}
#body .body .section:last-of-type a {
    height: 175px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
#body .body .article {
    width: 55%;
    background-image: url(../images/graph2.jpg), url(../images/bg-article.gif);
    background-size: 200px 193px, 100% 100%;
    background-repeat: no-repeat, repeat;
    background-position: 5% 50%, center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    color: #2A4F5E;
}
#body .body .article h4, #body .body .article p {
    padding: 0 10px 0 230px;
}
#body .body .article p {
    line-height: 1.5;
}
#body .body .article a {
    color: #3892b6;
}
#body .footer {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 22.5% 53% 22.5%;
    column-gap: 1%;
    color: #5D5D5D;
}
#body .footer > .section h3 a {
    text-transform: uppercase;
    color: #2A4F5E;
}
#body .footer > .section h3 {
    text-transform: uppercase;
    color: #2A4F5E;
}
#body .footer > .section ul li {
    padding: 1rem 0;
    border-bottom: 2px dashed grey;
}
#body .footer > .section ul li:last-of-type {
    border: none;
}
#body .footer > .section ul li p {
    font-size: 16px;
}
#body .footer > .section:last-of-type ul li p {
    text-indent: 1rem;
    background: url(../images/bullets.gif) no-repeat;
    background-position: 3px 6px;
}
#body .footer > .section ul li p a {
    color: #3892b6;
    text-transform: lowercase;
}
#body .footer > .section ul li p::first-letter {
    text-transform: uppercase;
}
#body .footer > .section ul li span {
    font-size: 13px;
    color: lightslategrey;
}
#body .footer > .featured ul li {
    padding: 0.25rem 0 1rem 0;
    border-bottom: 2px dashed grey;
}
#body .footer > .featured ul li:first-of-type {
    padding: 0 0 1rem 0;
}
#body .footer > .featured ul li h3 {
    padding-bottom: 0.75rem;
    text-transform: uppercase;
    color: #2A4F5E;
}
#body .footer > .featured ul li h3 a {
    color: #3892b6;
}
#body .footer > .featured ul li:last-of-type {
    border: none;
}
#body .footer > .featured ul li span {
    display: block;
    font-size: 13px;
    color: lightslategrey;
    margin-top: 0.5rem;
}
#body .footer > .featured ul li:last-of-type span {
    padding-left: 8.5rem;
}
#body .footer > .featured ul li:last-of-type p {
    padding-left: 8.5rem;
}
#body .footer > .featured ul li:last-of-type img {
    float: left;
}
#body .footer > .featured ul li p {
    line-height: 1.5;
}
#footer {
    background-image: url(../images/bg-footer.gif), 
    linear-gradient(to bottom, #F5F5F5, #F5F5F5);
    background-repeat: repeat-x, repeat;
    background-size: 100% 6px, 100%;
}
#footer > div:nth-of-type(1) {
    width: 60%;
    margin: auto;
    display: flex;
    padding: 2rem 0;
}
#footer > div:nth-of-type(1) > div {
    flex: 1;
    color: #5D5D5D;
    text-align: center;
}
#footer > div:nth-of-type(1) > div h3 {
    text-transform: uppercase;
}
#footer > div:nth-of-type(1) > div h3 {
    padding-bottom: 1rem;
}
#footer > div:nth-of-type(1) > div ul li {
    padding-bottom: 5px;
    font-size: 16px;
}
#footer > div:nth-of-type(1) > div:last-of-type .facebook {
    font-size: 0;
    display: inline-block;
    padding: 20px;
    background: url(../images/icons.gif) no-repeat;
    background-size: 140%;
    margin-right: 0.75rem;
}
#footer > div:nth-of-type(1) > div:last-of-type .twitter {
    font-size: 0;
    display: inline-block;
    padding: 20px 30px;
    background: url(../images/icons.gif) no-repeat;
    background-size: cover;
    background-position: 0 100%;
    background-size: 100%;
}
#footer > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: #5D5D5D;
}
#body .body .section a:hover {
    text-shadow: 1px 1px 2px grey;
}
#header ul li:hover:not(#header ul li:first-of-type) a {
    background: url(../images/menu.gif) repeat-x;
    background-size: 100% 300%;
    background-position: 7px 50%;
}